<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>News.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7565F6171DC5DED700C523A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7565F6301DC5DED800C523A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7565F63B1DC5DED800C523A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
